.myBG{
    height: 100vh;
    background: url("../assets/image/BG/razerwirelessgear.0.jpg");
    background-size: cover; 
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: center ;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.trending {
    height: 100vh;
    background: url("../assets/image/BG/p091j3dx.jpg");
    background-size: cover; 
}

.gamesRekomendasi {
    width: 200px;
    height: 200px ;
    background-color: black;
    margin: 20px;
    justify-content: center;
}
